<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../static/css/SignUp.css">
     
</head>
<body>
    <center>
        <BR><BR><BR><BR><BR><BR><BR><BR> 
        <p class="p1">Please fill up the following fields</p>
        <br>
        <form action="staff/signup" method="POST">
        <p><input type="text" placeholder="Name" name="name"required cols ="35" rows=1 ></p>            
        <p><input type="text" placeholder="Username" name="username"required cols ="35" rows=1 ></p>
        <p><input type="email" placeholder="Email" name="email"required cols ="35" rows=1 ></p>
        <p><input type="password" placeholder="Password" name="password"required cols ="35" rows=1 ></p>
        <p><input type="password" placeholder="Confirm Password" name="confirmPassword"required cols ="35" rows=1 ></p>
        <button type="submit" class="ButtonEnter">Enter</button>
        </form>
    </center>
</body>