body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(223, 214, 214);
    margin: 0;
}

.calendar {
    width: 900px;
    height: auto;
    max-width: auto;
    max-height: auto;
    background-color: white;
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px; 
}
.calendar-header {
    text-align: center;
    background-color: rgb(86, 130, 224);
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 

}

.prev{
    float: left;
    display: block;
    border-radius: 50%;
    font-size: 40px;
}
.prev:hover{
    background-color:rgb(187, 179, 179);
    cursor: pointer;
}
.next{
    float: right;
    display: block;
    border-radius: 50%;
    font-size: 40px;
}
.next:hover{
    background-color:rgb(187, 179, 179);
    cursor: pointer;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color:  rgb(86, 130, 224);
    color: white;
}
.calendar-days div {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-dates div {
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
.today {
    background-color: #146096;
    font-weight: bold;
    border-radius: 50px;
}
.calendar-dates div:hover{
    background-color: rgb(187, 179, 179);
    border-radius: 50px;

}
.empty{
    background: none;
    pointer-events: none;
}     

